.top {
	display:block;
	width:100%;
	height:300px;
}
blockquote {
	font-size: 15px;
}
.bootstrap-select .btn:focus {
    outline: none !important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  outline: none;
}